.footer__container {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer__text {
    color: #f6d7b0;
    font-size: 12px;
}

.footer__links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer__link-item {
    display: inline;
    gap: 20px;
}

.footer__link {
    text-decoration: none;
    transition: color 0.3s;
    font-size: 12px;
}
